[submodule "acmebeamer"]
	path = acmebeamer
	url = git://github.com/cedricmauclair/acmebeamer.git
[submodule "acmejdt"]
	path = acmejdt
	url = git://github.com/cedricmauclair/acmejdt.git
[submodule "acmetutorial"]
	path = acmetutorial
	url = git://github.com/cedricmauclair/acmetutorial.git
[submodule "acmeyatcl"]
	path = acmeyatcl
	url = git://github.com/cedricmauclair/acmeyatcl.git
[submodule "acmeedsys"]
	path = acmeedsys
	url = git://github.com/cedricmauclair/acmeedsys.git
[submodule "acmetoolbox"]
	path = acmetoolbox
	url = git://github.com/cedricmauclair/acmetoolbox.git
[submodule "acmeyaptk"]
	path = acmeyaptk
	url = git://github.com/cedricmauclair/acmeyaptk.git
